body.scuro{
background-color:  hsl(207, 26%, 17%);
color: hsl(0, 0%, 100%) ;
}

body.scuro header{
    background-color:  hsl(209, 23%, 22%);
    box-shadow: 0px 1px 10px 0px   rgb(32, 32, 32);
   
}
body.scuro header h1{
    color:white;
}

body.scuro header a{
    color:white;
}
body.scuro input{
    background-color:  hsl(209, 23%, 22%);
    box-shadow: 0px 1px 10px 0px   rgb(32, 32, 32);
    color:white;
}

body.scuro select{
    background-color:  hsl(209, 23%, 22%);
    box-shadow: 0px 1px 10px 0px   rgb(32, 32, 32);
    color:white;
 
}
body.scuro select option{
    outline:none;
}
body.scuro div.country{
    background-color:  hsl(209, 23%, 22%);
    box-shadow: 0px 1px 10px 0px   rgb(32, 32, 32);
}