/*MEDIA QUERY 1024PX*/

@media screen and (max-width:1024px) {
    div.country-grid{
        column-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    div.country img{
        height: 200px;
    }
}


@media screen and (max-width:840px) {
    div.country-grid{
        column-gap: 40px;
        grid-template-columns:  1fr 1fr;
    }
    div.country{
        width:80%;
    }
    strong{
        font-size:12px;
    }
    div.griglia-dettagli{
        grid-column-gap:20px;
    }

}



@media screen and (max-width:600px) {
    div.country-grid{
        column-gap: 20px;
        grid-template-columns:  1fr 1fr;
    }
    div.country{
        width: 80%;
        height: 70%;
        padding-bottom: 57px;
    }
    div.country img{
        height: 150px;
    }
    div.search{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.search select {
        width: 80%;
        margin-top: 22px;
}
div.search label{
    width:80%;

}
div.search input{
    width: 100%;
}
div.contenitore-dettagli {
   flex-direction:column;
   align-items:flex-start;
}
div.griglia-dettagli{
    grid-template-columns: 1fr;
}
div.contenitore-dettagli img {
    width: 70%;
    margin: 20px auto;
}
div.dettagli h1 {
    margin-top: 20px;
    margin-bottom:4px;
    font-size: 22px;
}
div.dettagli{
    width:100%;
}
div.border-countries {
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
}

@media screen and (max-width:480px){
    div.country-grid{
        grid-template-columns: 1fr;
    }
    div.country {
        width: 66%;
        height: 75%;
    }
    div.country img{
        height: 200px;
    }
    h1#title{
        font-size: 14px;
    }
    a#dark{
        font-size: 12px;
    }
    div.contenitore-dettagli img {
        width: 80%;
        margin: 20px auto;
    }
}


@media screen and (max-width:360px){
    div.country {
        width: 80%;
        height: 75%;
    }
    div.country img{
        height: 170px;
    }
    div.contenitore-dettagli img {
        width: 100%;
        margin: 20px auto;
    }
}